/*********************General**************************/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 16px;
}

p {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto", serif;
}

.section_header {
  font-family: "Permanent Marker", cursive;
  padding: 30px 0 30px 0;
  margin: 0;
  color: #535353;
}

#skills,
#contact,
#work,
#bio {
  padding-top: 60px;
}

img {
  max-width: 100% !important;
}

#header {
  position: relative;
}

/*********************Navigation**************************/
#top-nav {
  background: #ffcc33;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fca62d, #ffcc33);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fca62d, #ffcc33);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: none !important;
}

#top-nav ul a {
  color: black;
}

#nav-mobile {
  opacity: 0.8;
}

.social {
  font-size: 1.5em;
}

#logo {
  width: 200px;
  margin-left: 20px;
}

.social-link{
  line-height: 2;
}

/*********************Banner**************************/
canvas {
  width: 100vw !important;
  margin-top: 50px;
  background-color: #ffcc33;
  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #fca62d, #ffcc33);
  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #fca62d, #ffcc33);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#banner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#name {
  font-family: "Permanent Marker", cursive;
  font-size: 8vw;
  margin: 0;
  color: white;
}

#alias {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #535353;
  margin: 0;
  margin-bottom: 50px;
}

#to-content {
  position: relative;
  font-size: 3em;
  color: white;
  font-weight: bold;
  animation-name: move;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}

@keyframes move {
  from {
    bottom: 20px;
  }

  to {
    bottom: 10px;
  }
}

.proceed {
  animation: move;
}

/*********************Bio ********************/
.bio-image {
  height: 450px;
}

.bio-text {
  font-size: 1.2em;
  margin-left: 50px;
}

/*********************Skills ********************/

.skill-img {
  font-size: 40px;
  border-radius: 50%;
}

.about__skill_description {
  font-size: 1.5em;
}

.about__skill_header {
  font-size: 2.5em;
  margin-bottom: 30px;
}

/********************Work************************/
#work {
  max-width: 90%;
  margin: 0 auto;
}

.work__projects {
  display: flex;
}

.work__projects {
  margin-top: 100px;
  margin-bottom: 100px;
}

#work .section_header {
  margin-bottom: 10px;
}

.work__title {
  font-size: 2.5em;
  margin: 0;
  font-weight: bold;
}

.work__example {
  margin-left: 10px;
}

.work__projects:nth-of-type(even) > .work__desc {
  order: 1;
}

.work__projects:nth-of-type(even) > .work__example {
  order: 2;
}

.work__example_name {
  margin-top: 0;
}

.work__example_body {
  min-height: 100%;
}

.work__overview p {
  margin-top: 0;
}

.call-to-action {
  margin-top: 25px;
}

.work__desc:nth-child(odd) {
  padding-left: 50px;
}

.overview {
  font-size: 2em;
  margin-top: 0;
}

.languages {
  font-size: 1.5em;
}

.work__example_languages li {
  margin-left: 25px;
  list-style-type: disc !important;
}

.skill-img {
  color: #ffcc33;
}

.work__image {
  margin: 0 auto;
  width: 72%;
}

.work__image img {
  width: 100% !important;
}

.links {
  margin-top: 20px;
}

.links a {
  margin-right: 8px;
  margin-left: 8px;
  width: 35%;
}

.divider {
  background-color: black !important;
  width: 97%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

/********************Contact************************/
#contact {
  margin-bottom: 50px;
  padding-top: 30px;
}

.resume-details{
  overflow-x: auto;
}

#contact__submit {
  font-size: 1em;
}

textarea {
  resize: none;
}

.input-field label {
  color: #000;
  font-size: 1.2em !important;
}

/********************Footer************************/
footer {
  margin-bottom: 0;
}

#footer__back-to-top {
  font-size: 1.3em;
}

.footer-copyright {
  margin: 0;
}

@media screen and (max-width: 1050px) {
  #bio h2 {
    padding-bottom: 0;
  }

  .bio-text {
    padding: 20px;
  }
}

@media screen and (max-width: 1000px) {
  #bio {
    padding-top: 40px;
  }

  #banner {
    top: 60%;
  }

  #skills,
  #work,
  #contact {
    padding-top: 10px;
  }

  #top-nav {
    position: initial;
  }

  canvas {
    margin-top: 0;
  }

  #alias {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .about__skill {
    margin-top: 20px;
  }

  .work_example_description {
    margin-top: 50px !important;
    font-size: 1em;
  }

  .work__projects:nth-child(even) {
    display: flex;
    flex-direction: column;
  }

  .work__projects:nth-of-type(even) > .work__desc {
    order: 2;
  }

  .work__projects:nth-of-type(even) > .work__example {
    order: 1;
  }

  .bio-text {
    margin: 0;
    font-size: 1em;
  }

  .work__image {
    margin: 0 auto;
    width: 100%;
  }

  #contact__form {
    width: 90%;
  }

  .input-field label {
    color: #000;
    font-size: 1em !important;
  }

  .links a {
    margin-top: 15px;
    width: 90%;
  }

  .work__desc:nth-child(odd) {
    padding-left: 10.5px;
    padding-right: 10.5px;
  }

  .footer-nav {
    font-size: 1.3em;
  }

  #alias {
    margin-bottom: 20px;
  }

  #to-content {
    font-size: 1em;
  }
}
